 <table>
            <tbody>
                
                {{#each movies}}
                 <tr>
                     <td>{{this.id}}</td>
                     <td>{{this.name}}</td>
                     <td>{{this.genre}}</td>
                     <td>{{this.release_year}}</td>
                 </tr>
                {{/each}}
            </tbody>
        </table>